@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*
color pallete theme :
#CACACA - greyish
#484848 - blackish
#B23A39 - redish
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header {
    position: fixed;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: all 0.5s;
}

.scrolled {
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
}

.logo {
    width: 50%;
}

.navbar a {
    position: relative;
    color: #000;
    font-size: 23px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 60px;
}

.navbar a:hover {
    color: #000;
}

.navbar a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.navbar a:hover::before {
    transform: scaleX(1);
}

.home {
    background-image:url("../asset/line.svg"), linear-gradient(0deg, rgba(226,226,226) 3%, rgb(226, 226, 226) 35%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1080px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
}

.home::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(226,226,226,1) 35%);
    bottom: 0;
    z-index: 2;
}


.home .intro-content {
    flex: 1;
    max-width: 100%;
    padding: 10%;
}

.home .intro-content h1{
    font-size: 58px;
    font-weight: 900;
    word-spacing: 10px;
    line-height: 90px;
    letter-spacing: 7px;
    text-shadow: 0px 3px 3px#000;
}

.home .intro-content p{
    font-size: 19px;
    font-weight: 600;
    word-spacing: 10px;
    line-height: 30px;
}

.home .intro-content span {
    letter-spacing: 7px;
    color: #994102;
}

.home .intro-content .btn-box {
    margin-top: 15px;
    display: flex;
    width: 345px;
    height: 50px;
    justify-content: left;
    align-items: center;
}

.home .btn-box a {
    display: inline-flex;
    width: 200px;
    height: 100%;
    background: #B23A39;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: background 0.3 ease, transform 0.3 ease;
}

.home .btn-box a:hover {
    background: #A32829;
    transform: scale(1.05); 
}

.home .intro-image {
    flex: 1;
    max-width: 100%;
    padding-right: 7%;
}

.home .intro-image img {
    width: 843px;
    height: 600px;
}

.about {
    height: 70vh;
    display: flex;
    padding-top: 50px;
}

 /* Ferry's work */
.about .about-content { 
    padding-left: 10%;
    padding-top: 7%;
    max-width: 55%; 
}

/* Making Blur Transition Effect */
.transition-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.5s ease, filter 0.5s ease;
}

.about .about-content h1 {
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-decoration: underline;
}

.about .about-content p{
    padding-top: 20px;
    font-weight: 300;
    font-size: 37px;
}

.about-content span {
    font-weight: 700;
}

.about .about-image {
    max-width: 45%;
    padding-left: 10px;
    padding-top: 5%;
    margin-left: 50px;
}

.services {
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: #B23A39;
}

.services .services-title {
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-shadow: #000;
}

.services-title h1 {
    color: azure;
    font-size: 48px;
    font-weight: 700;
}

.services .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;;
}

.services .card {
    width: 480px;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .card-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services .card img {
    display: block;
    width: 19%;
    height: auto;
}

.services .card h2 {
    margin-top: 20px;
    display: block;
}

.services .card p {
    margin-top: 30px;
    display: block;
}

.services .btn-services {
    margin-top: 30px;
    display: block;
    width: 345px;
    height: 50px;
    justify-content: left;
    align-items: center;
}

.services .btn-services a {
    display: inline-flex;
    width: 200px;
    height: 100%;
    background: #B23A39;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: background 0.3 ease, transform 0.3 ease;
}

.services .btn-services a:hover{
    background: #A32829;
    transform: scale(1.05); 
}

.promo {
    height: 80vh;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.promo .promo-title {
    margin-top: 50px;
    padding-left: 10%;
    height: 100px;
    width: 100%;
    align-items: center;
    display: flex;
    text-shadow: #000;
}

.promo .promo-title h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
}

.promo .card-container {
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 700px;
}   

.promo .card-content {
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 700px;
    border-radius: 1.76rem;
    margin-inline: 1.25rem;
    overflow: hidden;
}

.promo .card-article {
    width: 100%;
    overflow: hidden;
    
}

.promo .card-image {
    align-items: center;
    justify-content: center;
    position: relative;
}

.promo .card-data {
    position: relative;
    text-align: center;
    z-index: 10;
}

.promo .card-image img {
    justify-content: center;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.promo .card-button {
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.promo .card-button a {
    display: inline-flex;
    width: 200px;
    height: 100%;
    background: #484848;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: background 0.3 ease, transform 0.3 ease;
}

.promo .card-button a:hover {
    background: #3a3a3a;
    transform: scale(1.05);
}

.testimoni {
    height: 70vh;
    width: 100%;
    display: block;
    margin-bottom: 100px;
}

.testimoni .testimoni-title {
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimoni .testimoni-title h1{
    font-size: 70px;
    font-weight: 700;
    color: black;
    letter-spacing: 8px;
}

.testimoni .card-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimoni .card {
    width: 480px;
    height: 500px;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimoni .card-content {
    padding: 30px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimoni .card-content img {
    padding-block: 5px;
    width: 150px;
    height: 150px;
}

.testimoni .card-content h3 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.testimoni .card-content p {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    padding-inline: 50px;
}

.footer {
    position: relative;
    width: 100%;
    background: #484848;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon__item {
    text-decoration: none;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
}
.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

/*Media Queries*/

/*Laptop*/
@media (max-width: 1366px) {

    .header {
        padding: 10px 5%;
    }

    .navbar a {
        font-size: 19px;
    }

    .scrolled {
        background-color: #fff;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
    }

    .home {
        height: 768px;
    }

    .home .intro-content h1{
        font-size: 33px;
        word-spacing: 6px;
        line-height: 60px;
    }

    .home .intro-content p{
        font-size: 16px;
        word-spacing: 8px;
        line-height: 25px;
    }

    .home .intro-content {
        max-width: 50%;
    }

    .home .intro-image {
        max-width: 50%;
    }

    .home .intro-image img {
        width: 550px;
    }

    .home .intro-content .btn-box {
        margin-top: 10px;
        width: 245px;
        height: 40px;
    }

    .home .btn-box a {
        font-size: 13px;
        
    }

    .home::after {
        height: 50px;
    }

    .about {
        height: 538px;
        padding-top: 20px;
    }

    .about .about-content {
        padding-left: 5%;
        padding-top: 7%;
        max-width: 55%;
    }
    
    .about .about-content h1 {
        font-size: 40px;
        line-height: 40px;
    }
    
    .about .about-content p{
        padding-top: 30px;
        font-weight: 300;
        font-size: 30px;
    }
    
    .about .about-image {
        max-width: 45%;
        padding-left: 10px;
        padding-top: 5%;
        margin-left: 50px;
    }

    .about .about-image img {
        width: 510px;
    }

    .services {
        height: 768px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .services .services-title {
        height: 40px;
        padding-bottom: 10px;
    }
    
    .services .services-title h1 {
        font-size: 38px;
    }

    .services .card-container {
        height: 100%;
    }
    
    .services .card {
        width: 350px;
        height: 300px;
    }
    
    .services .card img {
        display: block;
        width: 15%;
        height: auto;
    }
    
    .services .card h2 {
        margin-top: 20px;
        font-size: 20px;
    }
    
    .services .card p {
        margin-top: 20px;
        font-size: 15px;
        padding-inline: 20px;
    }
    
    .services .btn-services {
        width: 255px;
        height: 45px;
    }
    
    .services .btn-services a {
        font-size: 13px;
    }

    .promo {
        height: 614px;
    }
    
    .promo .promo-title {
        margin-top: 40px;
        height: 60px;
    }
    
    .promo .promo-title h1 {
        font-size: 45px;
        margin-bottom: 20px;
    }
    
    .promo .card-container {
        width: 700px;
        height: 500px;
    }   
    
    .promo .card-content {
        width: 700px;
        height: 500px;
    }
    
    .promo .card-image img {
        width: 100%;
        height: 400px;
    }
    
    .promo .card-button {
        margin-top: 20px;
        height: 50px;
    }
    
    .promo .card-button a {
        width: 200px;
        border-radius: 7px;
        font-size: 12px;
    }

    .testimoni {
        height: 538px;
    }
    
    .testimoni .testimoni-title {
        height: 50px;
    }
    
    .testimoni .testimoni-title h1{
        font-size: 57px;
    }
    
    .testimoni .card {
        width: 350px;
        height: 450px;
    }
    
    .testimoni .card-content img {
        width: 100px;
        height: 100px;
    }
    
    .testimoni .card-content h3 {
        font-weight: 700;
        font-size: 24px;
    }
    
    .testimoni .card-content p {
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        padding-inline: 50px;
    }
}

/*Tablet*/
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

/*Mobile Phone*/
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}
